@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
    background-image: url("../assets/images/fond1.png");
    overflow: hidden;
    font-family: 'Roboto';
    /* push down the the wrapper by half the page */
    margin: 50% 0 0 0;
    position: relative;
}


/* 
+----------------------------------------------------------------------+
| Pour le scroll
+----------------------------------------------------------------------+
*/

body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    /* background to fade out the text as it goes up */
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
}

.wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    /* perspective gives us a 3d space within the element to work with*/
    /* perspective also has the effect of pushing the content "down" */
    perspective: 450px;
}

.scroll-text {
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 65s linear forwards;
}

.mid {
    text-align: center;
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
}

@keyframes scroll {
    from {
        top: 250;
        transform: translateZ(0) rotateX(20deg);
    }

    to {
        top: -7500px;
        transform: translateZ(-2500px) rotateX(21deg);
    }
}

/* 
+----------------------------------------------------------------------+
| Pour les sélections
+----------------------------------------------------------------------+
*/
::-moz-selection {
    color: yellow;
    background-color: darkblue;
}

::selection {
    color: yellow;
    background-color: darkblue;
}

/* 
+----------------------------------------------------------------------+
| Pour la fin
+----------------------------------------------------------------------+
*/
.fin {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: -40% 0 0 0;
    color: blue;
    font-size: 30px;
    text-align: center;
    opacity: 0;
    animation: fin 35s linear forwards;
}

@keyframes fin {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    95% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }


}

.fin span {
    text-decoration: underline blue;
    font-style: italic;
}

a {
    font-size: 40px;
    color: turquoise;
    text-decoration: none;
    transition-duration: 0.5s;
}

a:hover {
    font-size: 42px;
    color: cyan;
    border-top: solid 2px cyan;
    border-bottom: solid 2px cyan;
}

.debut {
    margin-top: 50px;
}

.lien {
    color: cyan;
    border-top: solid 2px cyan;
    border-bottom: solid 2px cyan;

}

.link {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

/* 
+----------------------------------------------------------------------+
| Pour les animations
+----------------------------------------------------------------------+
*/
.starwars-demo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
    width: 100%;
    height: 100%;
    margin: -25% 0 0 0;
}

.starwars-demo {
    perspective: 1000px;
    transform-style: preserve3d;
}

.byline span {
    display: inline-block;
}

.byline {
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: cyan;
}

.star {
    animation: star 8s ease-out forwards;
}

.wars {
    animation: wars 8s ease-out forwards;
}

.byline span {
    animation: spin-letters 6s linear forwards;
}

.byline {
    animation: move-byline 8s linear forwards;
    margin-left: 3px;
}

@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-1px);
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    60% {
        opacity: 0;
        transform: translateZ(-2000px);
    }

    100% {
        opacity: 0;
        transform: translateZ(0px);
    }
}

@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(1px);
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    60% {
        opacity: 0;
        transform: translateZ(-2000px);
    }

    100% {
        opacity: 0;
        transform: translateZ(0px);
    }
}

@keyframes spin-letters {

    0%,
    10% {
        opacity: 0;
        transform: rotateY(90deg);
    }

    30% {
        opacity: 1;
    }

    70%,
    86% {
        transform: rotateY(0);
        opacity: 1;
    }

    95%,
    100% {
        opacity: 0;
    }
}

@keyframes move-byline {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 1;
        transform: translateZ(0);
    }

    60% {
        opacity: 0;
        transform: translateZ(-2000px);
    }

    100% {
        opacity: 0;
        transform: translateZ(0);
    }
}